body {
    font-family: Arial, sans-serif;
}

.navbar-dark {
    background-color: indigo;
}

.card {
    position: relative;
}

.fade-in {
    animation: fadeIn .5s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
}

/* Close button */
.close {
    color: #aaa;
}
.close:hover,
.close:focus {
    color: black;
}